/* 
    General Styles
*/
.vistahome {
  background-color: black;
  margin: 0%;
  padding: 0%;
}

.starnav {
  background-image: url(https://images.unsplash.com/photo-1520034475321-cbe63696469a?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fFZpbGxhJTIwZGUlMjBTdGFyJTIwV2Fyc3xlbnwwfHwwfHx8MA%3D%3D);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 120px;
  margin: 0%;
  padding: 0%;
}

.logostar {
  height: 80px;
  width: 80px;
  margin-left: 10rem;
}

.favbutton {
  margin-right: 8rem;
}

.heart {
  border-color: orange;
  color: orange;
  background-color: white;
  float: inline-end;
  margin-bottom: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

.learn {
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

.card {
  flex: 1;
  margin: 0 10px;
  max-width: 200px;
}

.detalles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.caracteristicas{
  color: rgb(165, 14, 14);
  font-size: 1.2rem;
  line-height: 1.6;
}

.h1home {
  color: whitesmoke;
}
